/* Step 3.2 */

  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* Step 3.3 */
:root {
    --primary-color: #00a6a6;
    --secondary-color: #5375d1;
    --accent1-color: #60a6e7;
    --accent2-color: #bbdef0;

    --heading-font: Sigmar;
    --paragraph-font: Poppins;

    --nav-background-color: white;
    --nav-link-color: blue;
    --nav-hover-link-color: violet;
    --nav-hover-background-color: white;

}


/* Step 3.4-5 */
h1{
    font-family: var(--heading-font);
    color: white;
}

h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p main {
    font-family: var(--paragraph-font);
    padding: 30px;
}
/* Step 3.6 */
a {
    text-decoration: none;
}


/* Step 3.7 */

* {
    background-size: cover;
}

section img {
    width: 700px;
    height: 600px;
}


/* Step 4.1 */
.hero {
    position: relative;
    text-align: center;
}

.hero-img {
    display: block;
    width: 100%;
    height: auto;
}

div h1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    background-color: var(--accent1-color);
    opacity: 1;
    padding: 2px;
    
}

.hero-article {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
    background-color: var(--primary-color);
    padding: 20px;
    opacity: 0.8;
    color: #bbdef0;

}

.hero-article h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
    background-color: var(--primary-color);
    opacity: 0.2;
    color: var(--primary-color)

}


article img {
    
    float: right;
    width: 200px;
}



/* Week 4 Codes */

header, .grid, footer {
    max-width: 1000px;
    margin: 0 auto;
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	max-width: 1000px;
    background-color: var(--accent1-color);
}

header h1 {
    font-size: 2rem;
}

header img {
    margin: 0 0.25rem 0 1rem;
	width: 80px;
	height: auto;
}

header nav {
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


main {
    display: flex;
    flex-direction: column;
}

.section1 h2 {
    display: flex;
    justify-content: center;
}

.section1 {
    border: solid var(--accent1-color);
}

.section-history {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.sectionp1 {
    width: 30%;
    text-align: justify;

}

.history-img {
    width: 20%;
}

.sectionp2 {
    width: 30%;
    text-align: justify;
}

.section-history img{
    width: 150px;
    height: auto;
}



.section1 img {
    
    width: 100px;
    height: 75px;
}


.section-figure {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 200px 200px 200px 200px 200px  ;
    justify-content: space-evenly;
	align-items: center;
	max-width: 1000px;
}

figure img {
    width: 130px;
    height: 115px;
    border: solid var(--accent1-color);
}

.section2 {
    border: solid var(--accent1-color);
}

.section2 h2 {
    display: flex;
    justify-content: center;
}

footer {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 4fr 4fr 2fr ;
	align-items: center;
	max-width: 1000px;
    background-color: var(--accent1-color);
}


footer nav {
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* codes for Contact Us Page */

.hero-contact-page {
    /* margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 1000px; */
    border: solid var(--accent1-color);
    background-color: var(--secondary-color);
    padding-inline-start: 0%;
}

.hero-contact-page h2, h3 {
    color: black;
    font-family: var(--heading-font);
    display: flex;
    justify-content: center;
}

.contact-us-section-figure {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 200px 200px 200px 200px  ;
    justify-content: space-evenly;
	align-items: center;
	max-width: 1000px;
}  

.contact-us-section-figure img {
    width: 75px;
    height: auto;
    border: none;
}

.contact-us-section1 h2 {
    display: flex;
    justify-content: center;
}

.contact-us-section1 {
    background-color: var(--accent2-color);
    padding-inline-start: 0%;
}

figcaption {
    font-family: var(--paragraph-font);
    text-align: center;
}

.contact-us-section2 h2 {
    display: flex;
    justify-content: center;
}

.contact-us-section2-figure {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 333px 333px 333px;
    justify-content: space-evenly;
	align-items: center;
	max-width: 1000px;
}  

.contact-us-section2-figure img {
    width: 150px;
    height: auto;
}

.contact-us-section2 {
    background-color: var(--secondary-color);
    padding-inline-start: 0%;
}

.form {
    width: 980px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
}

.form fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.form legend {
    font-weight: 700;
    color: var(--primary-color);
    text-decoration: solid black;
}

.form button {
    margin: 1rem;
    background-color: var(--primary-color);
    color: #fff;
    border: solid black;
    border-radius: .5rem;
    padding: 3px;
    font: 1.2rem;
    
}

.form button:hover {
    background-color: var(--accent2-color);
    cursor: pointer;
}

/* trips codes */

.trip-hero h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    text-align: justify;
    background: none;
}

.booking a:link, a:visited {
    background-color: var(--primary-color);
    color: white;
    padding: 2%;
    text-align: center;
    display: inline-block;
    width: 960px;
    
}

.booking a:hover, a:active {
    background-color: var(--accent1-color);
}

.booking a {
    align-content: center;
}

.headers {
    display: grid;
    grid-template-columns: 1px 50px 300px 300px 300px 20px 1px;
    align-content: center;
    text-align: center;
}

.images {
    display: grid;
    grid-template-columns: 1px 15px 290px 300px 300px 20px 1px;
    align-content: center;
}

.images img {
    width: 200px;
    height: 150px;
    border: solid black;
}

.description {
    font-family: var(--paragraph-font);
    font-size: small;
    display: grid;
    grid-template-columns: 1px 50px 300px 300px 300px 20px 1px;
    align-content: center;
    text-align: center;
}

.description a:link, a:visited {
    background-color: var(--primary-color);
    color: white;
    padding: 2%;
    text-align: center;
    display: inline-block;
    width: 200px;
}

.description a:hover, a:active {
    background-color: var(--accent1-color);

}

.table-trips {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.table-form {
    display: grid;
    grid-template-columns: 1px 550px 40px 350px;
    align-content: center;
}

.booking-form legend {
    font-weight: 700;
    color: black;
    text-decoration: solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.booking-form {
    background-color: var(--secondary-color);
    padding: 20px;
}

.booking-form button {
    background-color: var(--primary-color);
    color: #fff;
    border: solid black;
    border-radius: .5rem;
    padding: 3px;
    font: 1.2rem;
}

.booking-form h3 {
    padding: 0%;
}

/* homepage codes */

.trips-newsletter {
    display: grid;
    grid-template-columns: 1px 550px 350px 1px;
    align-content: center;
}



.trips-newsletter a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2%;
    text-align: center;
    display: inline-block;
    width: 450px;
    background-color: white;
    color: var(--primary-color);
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 30px
}

.trips-newsletter a:hover, a:active{
    background-color: var(--accent1-color);

}


.article-one {
    background-color: var(--primary-color);
}

.article-one h2 {
    text-decoration: underline;
    font-family: var(--paragraph-font);
    margin-top: 50px;
    color: #eee;
    text-align: center;

}

.home-hero h1 {
    position: absolute;
    top: 35%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    text-align: center;
    background: none;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}

.trips-newsletter form {
    background-color: rgb(243, 243, 243);
    width: 413px;
    padding: 15px;
    border: solid var(--primary-color)
    
}

.trips-newsletter legend {
    font-weight: 700;
    color: black;
    text-decoration: solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.trips-newsletter input {
    width: 100%;
}

.about-imgs {
    display: grid;
    grid-template-columns: 1px 10px 325px 450px 10px 1px;
    align-content: center;

}

.about-imgs img {
    width: 100px;
    height: 100px;
}

.about-caption {
    display: grid;
    grid-template-columns: 1px 125px 300px 150px 300px 150px 1px;
    align-content: center;
    text-align: center;
    font-family: var(--paragraph-font);
    font-size: small;
}

.about-header {
    text-align: center;
}

h5, h6 {
    opacity: 0;
    font-size: 1px;
    color: white;
}