 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+Pro:wght@600&display=swap');
 :root 

:root{
    --primary-color: #063d38;
    --secondary-color: #0a1c35;
    --accent1-color: #91296e;
    --accent2-color: #5f5611;

    --heading-font: Raleway;
    --paragraph-font: Raleway;

    --nav-background-color: #299999;
    --nav-link-color: #410d18;
    --nav-hover-link-color: #5f2a22;
    --nav-hover-background-color: #238178;
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color);

}
header{
    padding: 20px;
    background-color: var(--secondary-color);

}
p{
    padding: 25px;
}

nav{
    background-color: var(--accent1-color);
    font-size: 1.2rem;
    display: flex;

}
nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;

}

nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

nav a:hover{
    color: var(--nav-background-color);
    background-color: var(--nav-hover-background-color);
}